*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 45px 0 ;
    border-bottom: 2px solid;

}
.content{
    font-family: ;
}
.div{
text-align: right;
}